<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title th:text="#{training.list.title}">Insert title here</title>
<link href="../../../resources/css/bootstrap.min.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/bootstrap.min.css}" />
<link href="../../../resources/css/core.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/core.css}" />

<!-- Bootstrap core JavaScript
    ================================================== -->
<script src="../../../resources/js/jquery.min.js"
	th:src="@{/resources/js/jquery.min.js}"></script>
<script src="../../../resources/js/bootstrap.min.js"
	th:src="@{/resources/js/bootstrap.min.js}"></script>
<script src="../../../resources/DataTables/datatables.min.js"
	th:src="@{/resources/DataTables/datatables.min.js}"></script>
<script src="../../../resources/js/moment.min.js"
	th:src="@{/resources/js/moment.min.js}"></script>
<script src="../../../resources/js/bootstrap-datetimepicker.min.js"
	th:src="@{/resources/js/bootstrap-datetimepicker.min.js}"></script>

</head>
<body>

	<div th:replace="fragments/layout :: header"></div>
	<div th:replace="fragments/layout :: footer"></div>

	
	<h1 th:text="#{training.list.title}">Title</h1>
	<p th:utext="#{training.list.unescapedTitle}"></p>

	<!-- /* Handle the flash message */-->
	<th:block th:if="${message != null}">
		<div
			th:replace="fragments/components :: alert (type=${#strings.toLowerCase(message.type)}, message=#{${message.message}})">Alert</div>
	</th:block>
	
		
		<!-- userLogin ada dalam attribut Model -->
	
		<!-- 		<span -->
		<!-- 			th:utext="#{training.welcome.message(${userlogin},${#calendars.format(today,'dd MMMMM yyy')})}"></span> -->
		<!-- 	</p> -->
		<!-- 	<div th:object="${account}"> -->
		<!-- 		<p> -->
		<!-- 			UserId:<span th:text="*{userId}">####</span>. tanda * hampir sama fungsinya dg tanda $ -->
		<!-- 		</p> -->
		<!-- 		<p> -->
		<!-- 			Email:<span th:text="*{email}">###</span>. -->
		<!-- 		</p> -->
		<!-- 		<p> -->
		<!-- 			Date of Birth:<span -->
		<!-- 				th:text="*{#calendars.format(dateOfBirth,'dd MMMMM yyyy')}">###</span>. -->
		<!-- 		</p> -->
		<!-- 		<p> -->
		<!-- 			Last Login:<span th:text="*{lastLogin}">###</span>. -->
		<!-- 		</p> -->
		<!-- 		<p> -->
		<!-- 			Password:<span th:text="*{password}">###</span>. -->
		<!-- 		</p> -->
		<!-- 	</div> -->
	<form class:"form-horizontal" method="post" action="#"
		th:action="@{/training/search}">
		<fieldset>
			<legend>Search</legend>
			<div class="form-group">
				<label for="namaTraining"
					class="col-sm-2 col-sm-offset-2 control-label">Nama
					Training</label>
				<div class="col-sm-5">
					<input type="text" class="form-control" name="namaTraining"
						placeholder="Nama training">
				</div>
				<label for="jumlahPeserta"
					class="col-sm-2 col-sm-offset-2 control-label">Jumlah
					Peserta</label>
				<div class="col-sm-5">
					<input type="text" class="form-control" name="jumlahPeserta"
						placeholder="Jumlah peserta">
				</div>
				<label for="dateFrom" class="col-sm-2 col-sm-offset-2 control-label">Date
					From</label>
				<div class="col-sm-5">
					<input type="text" class="form-control" name="dateFrom"
						placeholder="Date From">
				</div>
				<label for="dateTo" class="col-sm-2 col-sm-offset-2 control-label">Date
					To</label>
				<div class="col-sm-5">
					<input type="text" class="form-control" name="dateTo"
						placeholder="Date To">
				</div>
				<div class="form-group form-group-sm">
					<!--   <div class="col-sm-2 col-sm-5" /> -->
					<div class="col-sm-2 col-sm-offset-4">
						<button type="submit" class="btn btn-primary btn-sm">
							<span class="glyphicon glyphicon-ok" aria-hidden="true">Cari</span>
						</button>
					</div>
				</div>
			</div>
		</fieldset>
		</br> </br>
	</form>
	<form class:"form-horizontal" method="get" action="#"
		th:action="@{/training/list}">
		<div class="col-sm-1 ">
			<button type="submit" class="btn btn-primary btn-sm">
				<span class="glyphicon glyphicon-ok" aria-hidden="true">Kembali</span>
			</button>
		</div>
	</form>
	<button href="#" id="add" type="button"
		class="btn btn-primary btn-sm">Tambah</button>
	<!-- @ untuk alamat di laman -->
	<div class="table-responsive">
		<table id="trainingGrid"
			class="table table-striped table-hover table-condensed">
			<thead>
				<tr>
					<th>Nama training</th>
					<th>Tanggal Training</th>
					<th>Jumlah Peserta</th>
					<th>Company</th>
					<th class="dt-center">Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="training:${trainingList}">
					<td th:text="${training.namaTraining}">nama</td>
					<td th:text="${training.tanggalTraining}">tanggal</td>
					<td th:text="${training.jumlahPeserta}">jumlah</td>
					<td th:text="${training.company}">company</td>
					<td><a href="#" class="btn btn-success btn-sm edit" th:attr="data-id=${training.id}"><i
							class="glyphicon glyphicon-pencil" aria-hidden="true"></i>Edit</a> <!-- ${Training.id} pada kata "training" tidak case sensitive -->
						<a href="#" class="btn btn-danger btn-sm"
						th:attr="data-href=@{/training/delete(id=${training.id})}"
						data-toggle="modal" data-target="#confirm-delete"><i
							class="glyphicon glyphicon-remove" aria-hidden="true"></i>Delete</a>
						<!-- nama "id" refer ke th:field -->
						</td>
				</tr>
			</tbody>


		</table>
		<!-- Add Peserta modal -->
	<div
		th:replace="fragments/components :: modal(id='add-modal', title='Add Training')"></div>

	<script th:inline="javascript">
		$('#add').on('click', function() { <!--#add disesuaikan dengan nama id yang akan dibuat popup -->
			console.log("add diklik");
			addTraining();
		})
		
		function addTraining(){
			$("#add-modal").modal();
			$("#add-modal-body").text("");
			$.ajax({
				url:[[@{/training/add}]],
				cache:false
			}).done(function (html){
				$("#add-modal-body").append(html);
			});
		}
		
	</script>
		<!-- Edit Training modal -->
	<div
		th:replace="fragments/components :: modal(id='edit-modal', title='Edit Training')"></div>
	<script th:inline="javascript">
		$('.edit').on('click', function() {
			var selectedId =$(this).attr('data-id');
			console.log('selected id='+selectedId); <!--agar tercetak di console browser-->
			editTraining(selectedId);
		})
		
		function editTraining(id){
			console.log("edit id: "+id);
			$("#edit-modal").modal();
			$("#edit-modal-body").text("");
			$.ajax({
				url:[[@{/training/edit}]]+ "?id=" +id, <!-- "?idPeserta" disesuaikan dengan nama variabel-->
				cache:false
			}).done(function (html){
				$("#edit-modal-body").append(html);
			});
		}
		
	</script>

	<!-- Delete confirmation modal -->
	<div
		th:replace="fragments/components :: confirm(id='confirm-delete', title='Delete Training', message='Are You sure want to delete Peserta?')"></div>
	<script th:inline="javascript">
	$('#confirm-delete').on('show.bs.modal', function(e) {
	console.log('confirm delete dialog');
	$(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
	});
</script>
	
</body>
</html>