<!DOCTYPE html>
<html>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">        
    <link rel="shortcut icon" href="../../../resources/images/favicon.ico" th:href="@{/favicon.ico}" type="image/x-icon">
	<link rel="icon" href="../../../resources/images/favicon.ico" th:href="@{/favicon.ico}" type="image/x-icon">
    
    <title th:if="${form_edit == '0'}" th:text="#{view.role.form.add.title}">Add Role</title>
    <title th:if="${form_edit == '1'}" th:text="#{view.role.form.edit.title}">Edit Role</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />    
    
    <!-- Bootstrap core JavaScript
    ================================================== -->    
	<script src="../../../resources/js/jquery.min.js" th:src="@{/resources/js/jquery.min.js}"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>
	<div th:replace="fragments/layout :: header"></div>
	<div class="container">
	<ol class="breadcrumb">
	  <li><a href="#" th:href="@{/}">Home</a></li>	
	  <li class="active">Anggota</li>
	  <li class="active">Form Anggota</li> 
	</ol>
	<h1 th:text="#{anggota.form.title}">Form Anggota</h1>
	<form class:"form-narrow form-horizontal" method="post" action="#" enctype="multipart/form-data"
		th:action="@{/anggota/saveAnggota}"
		th:object="${anggota}" th:fragment="anggotaForm">
		<input type="hidden" th:field="*{idAnggota}" />
		<fieldset>
                <div class="form-group form-group-sm">
                    <label for="Nama" 
                        class="col-xs-12 col-sm-3 col-md-3 control-label">Nama</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <input type="text" class="form-control" th:field="*{nama}" 
                            placeholder="Nama">
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label for="tanggalLahir" 
                        class="col-xs-12 col-sm-3 col-md-3 control-label">Tanggal Lahir </label>
                        <div class="col-xs-12 col-sm-9 col-md-8">
                    <div class="input-group date" id="datePickerInputGroup">
                        <input type="text" class="form-control" placeholder="dd-MM-yyyy" th:field="*{tanggalLahir}" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                        </div>
                    </div>
                </div>
               <div class="form-group form-group-sm">
                    <label for="departemenId" 
                        class="col-xs-12 col-sm-3 col-md-3 control-label">Departemen</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                     <!--  <input type="text" class="form-control" th:field="*{departemenId}" 
                            placeholder="Departemen"> -->
							<select class="form-control" th:field="*{departemenId}">
								<option disabled>Pilih</option>
								<option th:each = "struktur_organisasi : ${listDepartemen}" th:value="${struktur_organisasi.id}" th:text="${struktur_organisasi.nama}"></option>
							</select>
                    </div>
                </div>  
                <div class="form-group form-group-sm">
                    <label for="prodi" 
                            class="col-xs-12 col-sm-3 col-md-3 control-label">Prodi</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <input type="text" class="form-control" th:field="*{prodi}" 
                            placeholder="Prodi">
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label for="universitas" 
                        class="col-xs-12 col-sm-3 col-md-3 control-label">Universitas</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <input type="text" class="form-control" th:field="*{universitas}" 
                            placeholder="Universitas">
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label for="angkatan" 
                        class="col-xs-12 col-sm-3 col-md-3 control-label">Angkatan</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <input type="text" class="form-control" th:field="*{angkatan}" 
                            placeholder="Angkatan">
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label for="alamat" 
                        class="col-xs-12 col-sm-3 col-md-3 control-label">Alamat</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <input type="text" class="form-control" th:field="*{alamat}" 
                            placeholder="Alamat">
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label for="kontak" class="col-xs-12 col-sm-3 col-md-3 control-label">Kontak</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <input type="text" class="form-control" th:field="*{kontak}" placeholder="Kontak">
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label for="email" 
                        class="col-xs-12 col-sm-3 col-md-3 control-label">Email</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <input type="text" class="form-control" th:field="*{email}" 
                            placeholder="Email">
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label for="keanggotaan"
                    class="col-xs-12 col-sm-3 col-md-3 control-label">Keanggotaan</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <input type="text" class="form-control" th:field="*{keanggotaan}"
                             placeholder="Keanggotaan">
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label for="pic"
                    class="col-xs-12 col-sm-3 col-md-3 control-label">Foto</label>
                    <div class="col-xs-12 col-sm-9 col-md-8">
                        <input type="file" accept=""class="form-control" th:field="*{pic}"
                             placeholder="Foto">
                    </div>
                </div>
            </br>
        </br>
                <div class="form-group form-group-sm">
                    <div class="col-sm-offset-3 col-md-offset-3 col-xs-12 col-sm-9 col-md-8">
                        <a href="form" th:href="@{/anggota/listAnggota}" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-remove" aria-hidden="true">&nbsp;Tunda</span></a>
                        <button type="submit" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-ok" aria-hidden="true">Buat/Perbarui</span></button>

                    </div>
                </div>
            </fieldset>
        </form>

</body>
</html>