<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title th:text="#{training.form.title}">Insert title here</title>
<link href="../../../resources/css/bootstrap.min.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/bootstrap.min.css}" />
<link href="../../../resources/css/core.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/core.css}" />

<!-- Bootstrap core JavaScript
    ================================================== -->
<script src="../../../resources/js/jquery.min.js"
	th:src="@{/resources/js/jquery.min.js}"></script>
<script src="../../../resources/js/bootstrap.min.js"
	th:src="@{/resources/js/bootstrap.min.js}"></script>
<script src="../../../resources/DataTables/datatables.min.js"
	th:src="@{/resources/DataTables/datatables.min.js}"></script>
<script src="../../../resources/js/moment.min.js"
	th:src="@{/resources/js/moment.min.js}"></script>
<script src="../../../resources/js/bootstrap-datetimepicker.min.js"
	th:src="@{/resources/js/bootstrap-datetimepicker.min.js}"></script>


</head>
<body>
	<div th:replace="fragments/layout :: header"></div>
	<div th:replace="fragments/layout :: footer"></div>
	<h1 th:text="#{training.form.title}">FORM TAMBAH PESERTA</h1>
	<form class:"form-horizontal" method="post" action="#"
		th:action="@{/pesertaTraining/savePeserta}"
		th:object="${pesertaTraining}" th:fragment="pesertaForm">
		<input type="hidden" th:field="*{idPeserta}" />
		<div class="form-group">
			<label for="namaDepan"
				class="col-xs-12 col-sm-3 col-md-3 control-label">Nama Depan</label>
			<div class="col-xs-12 col-sm-9 col-md-8">
				<input type="text" class="form-control" th:field="*{namaDepan}"
					placeholder="Nama depan">
			</div>
		</div>
		<div class="form-group">
			<label for="namaBelakang"
				class="col-xs-12 col-sm-3 col-md-3 control-label">Nama
				Belakang</label>
			<div class="col-xs-12 col-sm-9 col-md-8">
				<input type="text" class="form-control" th:field="*{namaBelakang}"
					placeholder="Nama belakang">
			</div>
		</div>
		<label for="tanggalLahir"
			class="col-xs-12 col-sm-3 col-md-3 control-label">Tanggal
			Lahir</label>
		<div class="input-group date" id="datePickerInputGroup">
			<input type="text" class="form-control" placeholder="dd-MM-yyyy"
				th:field="*{tanggalLahir}" /> <span class="input-group-addon"><span
				class="glyphicon glyphicon-calendar"></span></span>
		</div>
		<div class="form-group">
			<label for="nilaiTraining"
				class="col-xs-12 col-sm-3 col-md-3 control-label">Nilai
				Training</label>
			<div class="col-xs-12 col-sm-9 col-md-8">
				<input type="text" class="form-control" th:field="*{nilaiTraining}"
					placeholder="Nilai training">
			</div>
		</div>
		<div class="form-group">
			<label for="company"
				class="col-xs-12 col-sm-3 col-md-3 control-label">Company</label>
			<div class="col-xs-12 col-sm-9 col-md-8">
				<input type="text" class="form-control" th:field="*{company}"
					placeholder="Company">
			</div>
		</div>
		<button class="btn btn-primary btn-lg">Submit</button>

		<script th:inline="javascript">
			var dateformat = 'DD-MM-YYYY';

			$(document).ready(function() {
				$('#datePickerInputGroup').datetimepicker({
					format : dateformat,
					//minDate : 'now',
					showTodayButton : true,
					showClear : true
				});

				$('#tanggalLahir').on('keypress', function(e) {
					e.preventDefault(); // Don't allow direct editing
				});
			});
		</script>

	</form>

</body>
</html>